<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- services -->
	<bean id="b1" class="dev.spring.core.Person" scope="prototype">
		<!-- by default scope of bean object will be singleton -->
		<property name="firstName" value="Kumar" />
		<property name="lastName" value="Gauraw" />
		<property name="age" value="22" />
		<!-- additional collaborators and configuration for this bean go here -->
	</bean>
	<bean id="b2" class="dev.spring.core.Person" scope="singleton">
		<!-- by default scope of bean object will be singleton -->
		<property name="firstName" value="Ravi" />
		<property name="lastName" value="Kumar" />
<!-- 		<property name="age" value="20" /> -->
		<!-- additional collaborators and configuration for this bean go here -->
	</bean>
	<!-- more bean definitions for services go here -->
</beans>